.homeHeader {
  display: flex;
  width: 100%;
  .homeContainer {
    width: 100%;
    .homeContent {
      height: calc(100vh - 78px);
      padding: 40px;
      .columnContainer {
        display: flex;
        gap: 20px;

        width: 100%;
        .columnContainerBox {
        }
      }
    }
  }
}
